{% extends "base.html" %}

{% block container %}
<center>{{key}}</center>
    <form action="{% url 'login1' %}" method="post" >
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleFormControlInput1" name="password" placeholder="password">
        </div>
        <br>
        <input type="submit" value="Login" >
    </form>
  
  {% endblock  %}
  